$white: #ffffff;
$lightGrey: #f6f6f6;
$mediumGrey: #ececec;
$darkGrey: #d0d0d0;
$textGrey: #2d2d2d;
$logoPurple: #7068f4;
$logoPink: #ff64b4;
$logoYellow: #ffd94a;

// $quicksand: 'Quicksand'

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  color: $lightGrey;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

/* OUTERMOST GRID CONTAINER */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "stats"
    "footer";
  height: 100vh;
}

/* HEADER */

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 20px;
  background-color: $darkGrey;
}

.header-login {
  margin: 15px 0px 0px 0px;
  display: flex;
}

.header-login form {
  display: flex;
}

.login-text {
  margin-right: 20px;
}

#container {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  height: 100%;
  grid-auto-flow: row;
  grid-template-areas:
    "User-Area User-Area Cash-Flow Cash-Flow Annual-Forecast Annual-Forecast"
    "User-Area User-Area Cash-Flow Cash-Flow Transactions Transactions"
    "User-Area User-Area  Category-Spendings Category-Spendings Transactions Transactions"
    "Monthly-Spendings Monthly-Spendings Category-Spendings Category-Spendings Transactions Transactions";
}

.Cash-Flow {
  grid-area: Cash-Flow;
  padding: 30px;
}

.Annual-Forecast {
  grid-area: Annual-Forecast;
  padding: 30px;
}

.Monthly-Spendings {
  grid-area: Monthly-Spendings;
  padding: 30px;
}

.Category-Spendings {
  grid-area: Category-Spendings;
  padding: 30px;
}

.Transactions {
  grid-area: Transactions;
  padding: 30px;
}

.User-Area {
  grid-area: User-Area;
  padding: 30px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: $darkGrey;
}
